---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/








html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: #FF0000;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

// Custom table markdown, added by MathisHammel
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}





/*
#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: 'Consolas', 'Monaco', 'Inconsolata', 'Courier New', Courier;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3em;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}


.list--item {
    width: 20%;
    float: left;
    display: flex;
    text-align: center;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.list--item img {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
img {
    vertical-align: middle;
    border-style: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.list--item h1 {
    font-size: 23px;
    padding: 0 0 0;
    margin: 0;
}
h1 {
    color: #9effff;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.list--item header {
    margin-top: 12px;
    padding-left: 5%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}

figcaption {
    padding-left: 5%;
}
.list--item figcaption {
    padding: 6px 12px 12px;
    padding-left: 12px;
    font-size: 16px;
    color: #444;
}

.badge-tag {
    margin: 0.3em;
    background-color: #1E1E1E;
    color: #C7DD0C;
    font-size: 0.8em;
    padding: 0.7em;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.list--item figure {
    background: #2A2A2A;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5rem;
}
figure {
    margin: 0 0 1rem;
}*/





/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #FFFFFF;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #1E1E1E;
}

footer {
  padding: 20px 0;
  text-align: center;
}

//Buttons added in the summarize
.category {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  /*max-width: 20ch;*/
}

.category:hover {
  background-color: lavender;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";





























/* simple-sidebar.css -----------------------------*/

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -17rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 16rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem;
  }
}

/* custom-css.css ---------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Monaco');
@import url('https://fonts.googleapis.com/css?family=Consolas');

body {
  background: #1E1E1E;
  font-family: 'Consolas', 'Monaco', 'Inconsolata', 'Courier New', Courier;
}

.navbar {
  background: #1E1E1E;
}

.navbar > .btn-primary, .navbar > .btn-primary:hover, .navbar > .btn-primary:focus, .navbar > .btn-primary:active {
  background: #1E1E1E !important;
  border-color: #1E1E1E !important;
  box-shadow: none !important;
}

.logo {
  border-radius: 50%;
  width: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f2;
  padding: 2px;
}

.badge-tag {
  margin: 0.3em;
  background-color: #1E1E1E;
  color: #C7DD0C;
  font-size: 0.8em;
  padding: 0.7em;
}

.badge-filter:hover {
  cursor: pointer;
}

.sidebar-section {
  margin-bottom: 0.8em;
  padding-left: 0.5em;
  text-align: justify;
}

.about {
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  font-size: 0.9em !important;
  max-width: 16rem;
  font-family: 'Consolas', 'Monaco', 'Inconsolata', 'Courier New', Courier;
}

.anchor-title > h1 {
  font-size: 1.9em;
}

.label-list {
  margin-left: 1.9%;
  margin-right: 1.9%;
}

.scoreboard-link {
  text-align: center;
}

.scoreboard-title {
  font-size: 1.1em !important;
}

.social-logo {
  width: 1.9em;
  display: inline-block;
  margin-left: 1.9%;
  margin-right: 1.9%;
  max-width: 16rem;
}

.tag-list {
  max-width: 16rem;
}

.card-article {
  background-color: #d0d0d0 !important;
  width: 20rem;
  margin: 2rem;
}

.card-title > h1 {
  font-size: 1.5em;
  text-align: center;
}

.category-icons {
  width: 7em;
  margin-left: auto;
  margin-right: auto;
}

.label-list > a, .label-list > a:hover, .label-list > a:focus, .label-list > a:active {
  color: #1E1E1E !important;
}

h1 {
  color: #9effff;
}

h2 {
  color: #D25252;
}

h3 {
  color: #fd971f;
}

h4 {
  color: #C7DD0C;
}

ul, li {
  color: #f8f8f2;
}

p {
  color: #f8f8f2;
  font-size: 1.05em;
  font-weight: 100;
  font-family: 'Courier New';
}

td > pre > span {
  font-size: 1.1em;
  font-family: 'Courier New';

}

a {
  color: #C7DD0C;
}

a:hover, a:focus, a:active {
  color: #C7DD0C;
}

.link_article:hover, .link_article:active, .link_article:focus {
  text-decoration: none;
}

.list-group-item > a {
  color: #D25252;
  font-size: 1rem !important;
}

.dropdown-menu {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #fd971f;
}

.dropdown-item {
  color: #fd971f ! important;
}

.dropdown-item:hover {
  color: #f92672 !important;
}

.mainCategory:focus, .mainCategory:hover, .mainCategory:active {
  background-color: #1E1E1E !important;
  color: #D25252 !important;
}

#sidebar-wrapper {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #9effff;
}

#sidebar-wrapper > .sidebar-heading {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
}

.list-group-item {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #D25252;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  padding: 30px;
}

.login-form .form-group > .btn-primary {
  background: #2A2A2A !important;
  border-color: #2A2A2A !important;
  box-shadow: none !important;
}

.login-form .form-group > .btn-primary:hover, .login-form .form-group > .btn-primary:focus, .login-form .form-group > .btn-primary:active {
  background: #3A3A3A !important;
  border-color: #3A3A3A !important;
}

form > button {
  background: #2A2A2A !important;
  color: #f8f8f2 !important;
  font-size: 1.2em;
  border-color: #2A2A2A !important;
  box-shadow: none !important;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

form > button:hover, form > button:focus, form > button:active {
  background: #3A3A3A !important;
  border-color: #3A3A3A !important;
}

.chosen-container-multi, .chosen-choices {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #f8f8f2 !important;
  background-image: none !important;
}

.chosen-drop, .chosen-results, .no-results {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #f8f8f2 !important;
}

.search-choice {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #f8f8f2 !important;
  background-image: none !important;
}

.search-choice > li {
  border-color: #2A2A2A !important;
}

.btn-add {
  vertical-align: baseline !important;
}

.btn-add > span {
  border-color: #2A2A2A !important;
  color: #f8f8f2 !important;
}

.modal-content {
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
  color: #f8f8f2 !important;
}

.modal-body > input, .modal-body > select {
  background: #3A3A3A !important;
  border-color: #3A3A3A !important;
  color: #f8f8f2 !important;
}

.modal-footer > button {
  background-color: #3E3E3E !important;
  color: #f8f8f2 !important;
  border-color: #2A2A2A !important;

}

.modal-footer > button:focus, .modal-footer > button:hover {
  background-color: #5E5E5E !important;
  color: #f8f8f2;
}

.clear {
    clear:both;
}
.btn-info {
    margin-right:15px;
    text-transform:uppercase;
    padding:10px;
    display:block;
    float:left;
}
.btn-info a {
    display:block;
    text-decoration:none;
    width:100%;
    height:100%;
    color:#fff;
}

.category-label {
  padding-top: 2.5em;
}

.more.label {
    float:right;
}

.more.label > a {
  color: #C7DD0C;
}

.container-article {
  background-color: #2A2A2A !important;
  padding: 1rem;
  border-radius: 0.5rem;
}

.tags > .btn-info {
  background-color: #2F2F2F !important;
}

.tags > .btn-info:hover, .tags > .btn-info:active, .tags > .btn-info:focus {
  background-color: #3A3A3A !important;
}

.btn-info > a {
  color: #D25252;
}

.page-link {
  color: #C7DD0C;
  background-color: #2A2A2A !important;
  border-color: #2A2A2A !important;
}

.page-link:hover, .page-link:focus, .page-link:active {
  color: #C7DD0C;
  background-color: #4A4A4A !important;
  border-color: #4A4A4A !important;
}

.delete > a {
  color: #fd971f !important;
}

.table {
  color: #f8f8f2;
  text-decoration: none;
}

td > a{
  color: #f8f8f2;
  text-decoration: none;
}

td > a:hover, td > a:focus, td > a:active{
  color: #f8f8f2;
  text-decoration: none;
}

.table-right {
  float: right;
}

.form-category {
  display: inline-block;
  text-align: center;
}

.menu-li:hover {
    cursor: pointer;
}

.btn-delete {
  background-color: #2A2A2A !important;
  color: #f8f8f2 !important;
}

.badge-tag-article {
  background-color: #2A2A2A !important;
}

.input-modal-name {
  text-align: center;
}

.add-tag-category-label {
  color: #fd971f;
}

.add-tag-category {
  padding: .75rem 1.25rem;
}

.bootstrap-select .btn, .bootstrap-select:hover .btn:hover, .bootstrap-select:focus .btn:focus, .bootstrap-select:active .btn:active {
  background-color: #141414;
  color: white;
}

.dropdown-item {
  background-color: #141414;
  color: #D25252 !important;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
  background-color: #141414;
  color: #fd971f !important;
}

.dropdown-item.active, .dropdown-item:active, .selected {
  background-color: #2A2A2A !important;
  color: #fd971f !important;
}

.fr-box {
  margin-top: 2em;
}

.fr-wrapper, .second-toolbar {
  background-color: #2A2A2A !important;
}

.list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0.3em;
}

.list--item {
  width: 25%;
  float: left;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-align: center;
}

.list--item figure {
  background: #2A2A2A;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5rem;
}

.list--item img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}
.list--item figcaption {
  padding: 6px 12px 12px;
  font-size: 16px;
  color: #444;

}
.list--item header, .list--item figcaption {
  padding-left: 5%;

}
.list--item header {
  margin-top: 12px;

}
.list--item h1 {
  font-size: 23px;
  padding: 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
  }

  .list--item {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .list--item {
    width: 33%;
  }
}
@media screen and (max-width: 620px) {
  .list--item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .list--item {
    width: 100%;
  }
}

.article-read {
  padding: 2.5em;
  text-align: justify;
}

code, .fr-class-code {
  background: #2A2A2A;
  color: #C7DD0C;
  font-size: 1rem !important;
}

.searchField {
    display: inline-block;
    height: 38px;
    margin: 10px;
    border: 1px solid #f8f8f2;
    font-size: 20px;
    outline: grey;
    color: grey;
    box-sizing:border-box;
    background-color: #2A2A2A;
    color: #f8f8f2;
}
.searchInput {
  position: relative;
}
.searchInput .glyphicon {
  position: absolute;
  z-index: 2;
  right: 25px;
  font-size: 24px;
  width: 24px;
  color: #f8f8f2;
  text-align: center;
  padding: 6px 0;
  top: 11px;
  cursor: pointer;
}

.fr-fic.fr-dib {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* glyphicons.css --------------------------------*/

@font-face {
 font-family: 'Glyphicons Halflings';
 src: url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.eot');
 src: url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../vendor/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}

