---
layout: content
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <!--<form action="{{ site.baseurl }}/memory-forensics" method="get">
      <input type="submit" value="Memory Forensics"class="category"/>
  </form>-->
  <div id="page-content-wrapper">
      <div class="container-fluid" id="list-articles">
          <div class="list row">
            <article class="list--item col-md-3"><figure><header><a href="/memory-forensics"><h1>Memory Analysis</h1></a></header><figcaption><span class="badge badge-dark badge-tag badge-category">live</span><span class="badge badge-dark badge-tag">disk</span></figcaption></figure></article>
          </div>      
      </div>
    </div>
</article>
