---
layout: content
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <!--<a href="{{ site.baseurl }}/memory-forensics-live">Live Memory Analysis</a>
  <a href="{{ site.baseurl }}/memory-forensics-disk">Disk Memory Analysis</a>-->

  <!--<form action="{{ site.baseurl }}/memory-forensics-live" method="get">
      <input type="submit" value="Live Memory Analysis"class="category"/>
  </form>
  <form action="{{ site.baseurl }}/memory-forensics-disk" method="get">
      <input type="submit" value="Disk Memory Analysis"class="category"/>
  </form>-->

  <div id="page-content-wrapper">
      <div class="container-fluid" id="list-articles">
          <div class="list row">
            <article class="list--item col-md-3"><figure><header><a href="/memory-forensics-live"><h1>Live Memory Analysis</h1></a></header><figcaption><span class="badge badge-dark badge-tag badge-category">live</span><span class="badge badge-dark badge-tag">Volatility</span></figcaption></figure></article>
            <article class="list--item col-md-3"><figure><header><a href="/memory-forensics-disk"><h1>Disk Memory Analysis</h1></a></header><figcaption><span class="badge badge-dark badge-tag badge-category">disk</span><span class="badge badge-dark badge-tag">volume</span></figcaption></figure></article>
        </div>      
      </div>
    </div>

</article>
