---
layout: content
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div id="main" role="main" class="container">
      <div class="posts">
  
    <article class="post">

      <h1><a href="/Academy-Investigation-FCSC-2020/">Academy of Investigation - Administration - FCSC 2020</a></h1>

      <div class="entry">
        <p>This section is the write-up for the Academy of Investigation forensics-challenge (FCSC 2020). </p>


      </div>

      <a href="/Academy-Investigation-FCSC-2020/" class="read-more">Read More</a>
    </article>

    <article class="post">

      <h1><a href="/Not-So-FAT-FCSC-2019/">Not So FAT - FCSC 2019</a></h1>

      <div class="entry">
        <p>This section is the write-up for the Not So FAT forensics-challenge (FCSC 2019). </p>


      </div>

      <a href="/Not-So-FAT-FCSC-2019/" class="read-more">Read More</a>
    </article>
    
    </div>
  </div>
</article>
